.App {
      text-align: center;
      height: 100vh;
      background: #a8c0ff; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
}

* {
      margin: 0;
}

.sign {
      background-color: white;
      /* margin: 30px 30px 30px 30px; */
}

.login {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: whitesmoke;

      border: red solid 3px;

      height: 600px;
      width: 400px;
}

.loginCont {
      background-color: wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 90%;
      height: 90%;
}

#loginButton {
      width: 100%;
      background-color: blueviolet;
      margin-top: 50px;
}
