.App {
      text-align: center;
      /* height: 100vh; */
      min-height: 100vh;
      background: #a8c0ff; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
}

* {
      margin: 0;
}

.sign {
      background-color: white;
      /* margin: 30px 30px 30px 30px; */
}

.login {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: whitesmoke;
      /* background-color: white; */

      border: red solid 3px;

      height: 600px;
      width: 400px;
}

.loginCont {
      /* background-color: wheat; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 90%;
      height: 90%;
}

#loginButton {
      width: 100%;
      background-color: blueviolet;
      margin-top: 50px;
}

.nav-link {
      color: white;
}

.navbar {
      /* background-color: burlywood; */
      background-color: transparent;
      /* background-color: gray; */
      margin-top: 0px;
}

.navbar-floating {
      /* position: absolute; */
      /* position: relative; */
      width: 100%;
      left: 0;

      /* z-index: 99; */
}

.ml-auto {
      margin-left: auto !important;
}

.MuiTypography-root {
      width: 100%;
}

/* before left menu */
/* .css-11o2879-MuiDrawer-docked .MuiDrawer-paper {
      background-color: transparent;
} */

/*after left menu*/
/* .css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
      background-color: transparent;
} */

.css-1l8j5k8 {
      background-color: black;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
      background-color: transparent !important;

      box-shadow: none !important;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root {
      background-color: transparent !important;
      box-shadow: none !important;
}

.css-i4bv87-MuiSvgIcon-root {
      font-size: 2.5rem !important;
      color: white;
}

.css-11o2879-MuiDrawer-docked > .MuiPaper-root > .css-1u2mxbp > .MuiButtonBase-root > .css-i4bv87-MuiSvgIcon-root {
      display: none;
}

.css-i4bv87-MuiSvgIcon-root {
      color: #b2b4bf;
}
.MuiBox-root > .MuiButtonBase-root > .css-i4bv87-MuiSvgIcon-root {
      color: black !important;
}

.css-1azl6jz-MuiTableCell-root {
      font-weight: bold !important;
}

.deletebuto:hover {
      cursor: pointer;
      opacity: 1 !important;
}

.error-a {
      font-weight: bold;
      font-size: x-large;
      /* text-decoration: none; */
      color: white;
}

.error {
      color: red;
}
